
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1499991155277'); /* IE9*/
  src: url('iconfont.eot?t=1499991155277#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1499991155277') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1499991155277') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1499991155277#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before { content: "\e6ac"; }

.icon-left:before { content: "\e612"; }

.icon-right:before { content: "\e613"; }

.icon-niunai:before { content: "\e656"; }

.icon-shangjia:before { content: "\e60d"; }

.icon-microwave:before { content: "\e600"; }

.icon-shouji:before { content: "\e622"; }

.icon-yinxingqia:before { content: "\e60f"; }

.icon-search1:before { content: "\e640"; }

.icon-dangan:before { content: "\e633"; }

.icon-xiaoxi:before { content: "\e619"; }

.icon-canju:before { content: "\e66f"; }

.icon-you-copy:before { content: "\e60b"; }

.icon-meizhuangyongpin:before { content: "\e6ee"; }

.icon-gouwudai:before { content: "\e645"; }

.icon-crown:before { content: "\e614"; }

.icon-addr:before { content: "\e616"; }

.icon-direction:before { content: "\e601"; }

.icon-baby:before { content: "\e63a"; }

.icon-jiaju:before { content: "\e618"; }

.icon-qingjie:before { content: "\e608"; }

.icon-shopping-cart:before { content: "\e777"; }

.icon-paihangbang:before { content: "\e603"; }

.icon-shenghuopai:before { content: "\e604"; }

.icon-shuadapai:before { content: "\e602"; }

.icon-yao:before { content: "\e648"; }

.icon-diamond:before { content: "\e61d"; }

.icon-nvzhuang:before { content: "\e617"; }

.icon-bags:before { content: "\e839"; }

.icon-you:before { content: "\e605"; }

.icon-you-copy-copy:before { content: "\e83a"; }

.icon-you-copy-copy1:before { content: "\e83b"; }

.icon-you-copy-copy-copy:before { content: "\e83d"; }

.icon-you-copy-copy-copy1:before { content: "\e83e"; }

